<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>favorites</key>
	<array>
		<dict>
			<key>sortIndex</key>
			<integer>0</integer>
			<key>restaurantId</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
